<html>
<head>
    <title>图片搜索结果</title>
    <link href="/static/assets/css/style.min.css" rel="stylesheet" />
</head>
<body>
    <section class="grid">
        <div class="grid-sizer"></div>
        <article class="grid-item">
            <figure class="box">
                <div class="title container">
                    <h2><a data-name="test" href="www.baidu.com"></a></h2>
                </div>
                <div class="preview">
                    <img src="test.jpg" alt="justtest" />
                </div>
            </figure>
        </article>
    </section>
</body>
</html>
