$def with(text, result, count, img)
<html>
<head>
    <title>图片搜索结果</title>
    <link href="/static/assets/css/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <style>
        body {
            background-color: #F0F8FF
        }
    </style>
</head>
<body>
    <section class="grid">
        <div class="grid-sizer"></div>
        <header class="grid-item">
            <div class="container">
                <h1>搜索结果</h1>
                <h2>
                    第十七组
                    <a href="index">返回首页</a>
                </h2>
                <hr />
                <nav class="navbar navbar-light bg-faded">
                    <form class="form-inline">
                        $if text == '':
                            <input class="form-control" type="text" placeholder="search" name="text" />
                        $else:
                            <input class="form-control" type="text" placeholder=$text name="text" />
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </nav>
                $if text != '':
                    <p>
                        您要搜索的是： <strong>$text</strong>
                    </p>
                $if img != '':
                    <p>
                        您要搜索的图片是:
                    </p>
                    <img src=$img alt="Search Image" />
                <br />
                <p>
                    一共找到 <font color="blue">$count</font> 条结果
                </p>
            </div>
        </header>
        $for i in range(count):
            $ res= result[i]
            <article class="grid-item">
                <figure class="box">
                    <div class="title container">
                        <h2>
                            <a data-name=$res['title'] href=$res['url']></a>
                        </h2>
                    </div>
                    <div class="preview">
                        <img src=$res['pic_url'] alt=$res['title'] />
                    </div>
                    <figcaptions>
                        $if res['price'] != '':
                            <p>
                                价格：<font color="red">$res['price']</font>
                            </p>
                        <p>
                            $:res['description']
                        </p>
                    </figcaption>
                </figure>
            </article>
    </section>
    <script src="static/bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="static/assets/js/masonry.min.js"></script>
    <script src="static/assets/js/animate.js"></script>
</body>
</html>
